/* .container-fluid {
    padding-top: 150px;
    margin: auto;
    width: 60%;
    display: flex;
    /* vertical-align: middle; */
    /* flex: 1;
    font-family: "Montserrat", sans-serif;
    font-size: .85rem;
    font-weight: 500;
    color: #171717;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05em;
    */
} */


